<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.macarus0.walkiewalkie">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".view.MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".view.DogContactActivity" />

        <receiver android:name=".WalkStatusWidget">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/walk_status_widget_info" />
        </receiver>

        <activity
            android:name=".view.OwnerContactActivity"
            android:label="@string/title_activity_owner_contact"
            android:theme="@style/AppTheme" />
        <activity android:name=".view.SelectOwnerActivity" />
        <activity android:name=".view.SelectDogActivity" />
        <activity android:name=".view.StartWalkActivity" />
        <activity
            android:name=".view.WalkStatusActivity"
            android:launchMode="singleTop" />

        <receiver
            android:name=".util.PhotoReminderAlarm"
            android:exported="true" />

        <activity android:name=".view.WalkSummaryActivity"></activity>
    </application>

</manifest>